---
---
<style type="text/css">
#T_cb541 {
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed; 
    width: 100%;
}

#T_cb541 td {
    font-size: 0.8rem;
    border: 0px;
    padding: 6px;
    word-break: break-word; 
    width: 68px; 
    /* 54px */
}

#T_cb541 th {
    font-size: 0.84rem;
    font-weight: 600;
    padding: 0px;
    word-break: break-word; 
    width: 68px;
}


#T_cb541_row0_col0, #T_cb541_row0_col10, #T_cb541_row1_col0, #T_cb541_row1_col10, #T_cb541_row2_col0, #T_cb541_row2_col10, #T_cb541_row3_col0, #T_cb541_row3_col10, #T_cb541_row4_col0, #T_cb541_row4_col7, #T_cb541_row4_col8, #T_cb541_row4_col10, #T_cb541_row5_col0, #T_cb541_row5_col10, #T_cb541_row6_col0, #T_cb541_row6_col10, #T_cb541_row7_col0, #T_cb541_row7_col10, #T_cb541_row8_col0, #T_cb541_row8_col10, #T_cb541_row9_col0, #T_cb541_row9_col4, #T_cb541_row9_col10, #T_cb541_row10_col0, #T_cb541_row10_col10, #T_cb541_row11_col0, #T_cb541_row11_col7, #T_cb541_row11_col10 {
  background-color: #67000d;
  color: #f1f1f1;
}
#T_cb541_row0_col1, #T_cb541_row0_col5, #T_cb541_row0_col9, #T_cb541_row1_col7, #T_cb541_row1_col9, #T_cb541_row2_col7, #T_cb541_row2_col9, #T_cb541_row3_col6, #T_cb541_row3_col7, #T_cb541_row4_col1, #T_cb541_row4_col5, #T_cb541_row4_col9, #T_cb541_row5_col7, #T_cb541_row5_col9, #T_cb541_row6_col9, #T_cb541_row7_col1, #T_cb541_row7_col9, #T_cb541_row8_col9, #T_cb541_row10_col9 {
  background-color: #fff5f0;
  color: #000000;
}
#T_cb541_row0_col2 {
  background-color: #fcb095;
  color: #000000;
}
#T_cb541_row0_col3 {
  background-color: #f0402f;
  color: #f1f1f1;
}
#T_cb541_row0_col4, #T_cb541_row2_col4, #T_cb541_row11_col5 {
  background-color: #fee1d3;
  color: #000000;
}
#T_cb541_row0_col6 {
  background-color: #fedecf;
  color: #000000;
}
#T_cb541_row0_col7 {
  background-color: #fca588;
  color: #000000;
}
#T_cb541_row0_col8 {
  background-color: #fdc7b2;
  color: #000000;
}
#T_cb541_row1_col1, #T_cb541_row2_col1, #T_cb541_row11_col3 {
  background-color: #fff0e8;
  color: #000000;
}
#T_cb541_row1_col2 {
  background-color: #fdccb8;
  color: #000000;
}
#T_cb541_row1_col3, #T_cb541_row2_col3 {
  background-color: #fb7656;
  color: #f1f1f1;
}
#T_cb541_row1_col4, #T_cb541_row10_col8 {
  background-color: #fed9c9;
  color: #000000;
}
#T_cb541_row1_col5, #T_cb541_row3_col1, #T_cb541_row4_col6, #T_cb541_row5_col1 {
  background-color: #ffede5;
  color: #000000;
}
#T_cb541_row1_col6 {
  background-color: #fee3d6;
  color: #000000;
}
#T_cb541_row1_col8 {
  background-color: #fcbea5;
  color: #000000;
}
#T_cb541_row2_col2, #T_cb541_row6_col4 {
  background-color: #fc8262;
  color: #f1f1f1;
}
#T_cb541_row2_col5, #T_cb541_row9_col6 {
  background-color: #ffece3;
  color: #000000;
}
#T_cb541_row2_col6, #T_cb541_row3_col9, #T_cb541_row9_col9 {
  background-color: #fff2ec;
  color: #000000;
}
#T_cb541_row2_col8 {
  background-color: #fcb398;
  color: #000000;
}
#T_cb541_row3_col2 {
  background-color: #fcb69b;
  color: #000000;
}
#T_cb541_row3_col3 {
  background-color: #f5523a;
  color: #f1f1f1;
}
#T_cb541_row3_col4 {
  background-color: #feeae1;
  color: #000000;
}
#T_cb541_row3_col5 {
  background-color: #fdcdb9;
  color: #000000;
}
#T_cb541_row3_col8 {
  background-color: #fee8de;
  color: #000000;
}
#T_cb541_row4_col2 {
  background-color: #fb7d5d;
  color: #f1f1f1;
}
#T_cb541_row4_col3, #T_cb541_row8_col2 {
  background-color: #fb6c4c;
  color: #f1f1f1;
}
#T_cb541_row4_col4 {
  background-color: #bf151b;
  color: #f1f1f1;
}
#T_cb541_row5_col2 {
  background-color: #fc9070;
  color: #000000;
}
#T_cb541_row5_col3 {
  background-color: #fb7252;
  color: #f1f1f1;
}
#T_cb541_row5_col4 {
  background-color: #fb6b4b;
  color: #f1f1f1;
}
#T_cb541_row5_col5, #T_cb541_row6_col8, #T_cb541_row8_col6, #T_cb541_row10_col6 {
  background-color: #ffebe2;
  color: #000000;
}
#T_cb541_row5_col6, #T_cb541_row10_col1 {
  background-color: #fff1ea;
  color: #000000;
}
#T_cb541_row5_col8 {
  background-color: #fedfd0;
  color: #000000;
}
#T_cb541_row6_col1, #T_cb541_row8_col1, #T_cb541_row8_col5 {
  background-color: #fff3ed;
  color: #000000;
}
#T_cb541_row6_col2 {
  background-color: #f44f39;
  color: #f1f1f1;
}
#T_cb541_row6_col3 {
  background-color: #fb7a5a;
  color: #f1f1f1;
}
#T_cb541_row6_col5 {
  background-color: #fdcab5;
  color: #000000;
}
#T_cb541_row6_col6 {
  background-color: #fee3d7;
  color: #000000;
}
#T_cb541_row6_col7 {
  background-color: #800610;
  color: #f1f1f1;
}
#T_cb541_row7_col2 {
  background-color: #dc2924;
  color: #f1f1f1;
}
#T_cb541_row7_col3, #T_cb541_row9_col3 {
  background-color: #fcc1a8;
  color: #000000;
}
#T_cb541_row7_col4 {
  background-color: #fdc6b0;
  color: #000000;
}
#T_cb541_row7_col5 {
  background-color: #fee5d9;
  color: #000000;
}
#T_cb541_row7_col6 {
  background-color: #ffece4;
  color: #000000;
}
#T_cb541_row7_col7, #T_cb541_row7_col8 {
  background-color: #ffeee6;
  color: #000000;
}
#T_cb541_row8_col3 {
  background-color: #980c13;
  color: #f1f1f1;
}
#T_cb541_row8_col4 {
  background-color: #fc9e80;
  color: #000000;
}
#T_cb541_row8_col7, #T_cb541_row11_col6 {
  background-color: #fdd4c2;
  color: #000000;
}
#T_cb541_row8_col8 {
  background-color: #fee0d2;
  color: #000000;
}
#T_cb541_row9_col1, #T_cb541_row11_col1 {
  background-color: #fff4ee;
  color: #000000;
}
#T_cb541_row9_col2 {
  background-color: #fb7050;
  color: #f1f1f1;
}
#T_cb541_row9_col5 {
  background-color: #fdcbb6;
  color: #000000;
}
#T_cb541_row9_col7 {
  background-color: #fcb99f;
  color: #000000;
}
#T_cb541_row9_col8 {
  background-color: #fc8e6e;
  color: #000000;
}
#T_cb541_row10_col2 {
  background-color: #fc8161;
  color: #f1f1f1;
}
#T_cb541_row10_col3 {
  background-color: #fdcebb;
  color: #000000;
}
#T_cb541_row10_col4 {
  background-color: #fdc5ae;
  color: #000000;
}
#T_cb541_row10_col5, #T_cb541_row11_col9 {
  background-color: #fff4ef;
  color: #000000;
}
#T_cb541_row10_col7 {
  background-color: #fca78b;
  color: #000000;
}
#T_cb541_row11_col2 {
  background-color: #fb6d4d;
  color: #f1f1f1;
}
#T_cb541_row11_col4 {
  background-color: #fee5d8;
  color: #000000;
}
#T_cb541_row11_col8 {
  background-color: #fdd2bf;
  color: #000000;
}
</style>
<table id="T_cb541">
  <thead>
    <tr>
      <th class="index_name level0" >category</th>
      <th id="T_cb541_level0_col0" class="col_heading level0 col0" >essentials</th>
      <th id="T_cb541_level0_col1" class="col_heading level0 col1" >living</th>
      <th id="T_cb541_level0_col2" class="col_heading level0 col2" >food</th>
      <th id="T_cb541_level0_col3" class="col_heading level0 col3" >self</th>
      <th id="T_cb541_level0_col4" class="col_heading level0 col4" >non-essentials</th>
      <th id="T_cb541_level0_col5" class="col_heading level0 col5" >social</th>
      <th id="T_cb541_level0_col6" class="col_heading level0 col6" >transportation</th>
      <th id="T_cb541_level0_col7" class="col_heading level0 col7" >travel</th>
      <th id="T_cb541_level0_col8" class="col_heading level0 col8" >gifts/donations</th>
      <th id="T_cb541_level0_col9" class="col_heading level0 col9" >misc</th>
      <th id="T_cb541_level0_col10" class="col_heading level0 col10" >total</th>
    </tr>
    <tr>
      <th class="index_name level0" >month</th>
      <th class="blank col0" >&nbsp;</th>
      <th class="blank col1" >&nbsp;</th>
      <th class="blank col2" >&nbsp;</th>
      <th class="blank col3" >&nbsp;</th>
      <th class="blank col4" >&nbsp;</th>
      <th class="blank col5" >&nbsp;</th>
      <th class="blank col6" >&nbsp;</th>
      <th class="blank col7" >&nbsp;</th>
      <th class="blank col8" >&nbsp;</th>
      <th class="blank col9" >&nbsp;</th>
      <th class="blank col10" >&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th id="T_cb541_level0_row0" class="row_heading level0 row0" >Jan</th>
      <td id="T_cb541_row0_col0" class="data row0 col0" >32.0</td>
      <td id="T_cb541_row0_col1" class="data row0 col1" >0.0</td>
      <td id="T_cb541_row0_col2" class="data row0 col2" >3.4</td>
      <td id="T_cb541_row0_col3" class="data row0 col3" >7.3</td>
      <td id="T_cb541_row0_col4" class="data row0 col4" >1.5</td>
      <td id="T_cb541_row0_col5" class="data row0 col5" >0.0</td>
      <td id="T_cb541_row0_col6" class="data row0 col6" >1.6</td>
      <td id="T_cb541_row0_col7" class="data row0 col7" >3.8</td>
      <td id="T_cb541_row0_col8" class="data row0 col8" >2.5</td>
      <td id="T_cb541_row0_col9" class="data row0 col9" >0.0</td>
      <td id="T_cb541_row0_col10" class="data row0 col10" >52.2</td>
    </tr>
    <tr>
      <th id="T_cb541_level0_row1" class="row_heading level0 row1" >Feb</th>
      <td id="T_cb541_row1_col0" class="data row1 col0" >32.1</td>
      <td id="T_cb541_row1_col1" class="data row1 col1" >0.4</td>
      <td id="T_cb541_row1_col2" class="data row1 col2" >2.3</td>
      <td id="T_cb541_row1_col3" class="data row1 col3" >5.6</td>
      <td id="T_cb541_row1_col4" class="data row1 col4" >1.8</td>
      <td id="T_cb541_row1_col5" class="data row1 col5" >0.6</td>
      <td id="T_cb541_row1_col6" class="data row1 col6" >1.3</td>
      <td id="T_cb541_row1_col7" class="data row1 col7" >0.0</td>
      <td id="T_cb541_row1_col8" class="data row1 col8" >2.9</td>
      <td id="T_cb541_row1_col9" class="data row1 col9" >0.0</td>
      <td id="T_cb541_row1_col10" class="data row1 col10" >47.0</td>
    </tr>
    <tr>
      <th id="T_cb541_level0_row2" class="row_heading level0 row2" >Mar</th>
      <td id="T_cb541_row2_col0" class="data row2 col0" >32.1</td>
      <td id="T_cb541_row2_col1" class="data row2 col1" >0.4</td>
      <td id="T_cb541_row2_col2" class="data row2 col2" >5.1</td>
      <td id="T_cb541_row2_col3" class="data row2 col3" >5.6</td>
      <td id="T_cb541_row2_col4" class="data row2 col4" >1.5</td>
      <td id="T_cb541_row2_col5" class="data row2 col5" >0.7</td>
      <td id="T_cb541_row2_col6" class="data row2 col6" >0.2</td>
      <td id="T_cb541_row2_col7" class="data row2 col7" >0.0</td>
      <td id="T_cb541_row2_col8" class="data row2 col8" >3.3</td>
      <td id="T_cb541_row2_col9" class="data row2 col9" >0.0</td>
      <td id="T_cb541_row2_col10" class="data row2 col10" >48.8</td>
    </tr>
    <tr>
      <th id="T_cb541_level0_row3" class="row_heading level0 row3" >Apr</th>
      <td id="T_cb541_row3_col0" class="data row3 col0" >32.0</td>
      <td id="T_cb541_row3_col1" class="data row3 col1" >0.6</td>
      <td id="T_cb541_row3_col2" class="data row3 col2" >3.2</td>
      <td id="T_cb541_row3_col3" class="data row3 col3" >6.8</td>
      <td id="T_cb541_row3_col4" class="data row3 col4" >0.8</td>
      <td id="T_cb541_row3_col5" class="data row3 col5" >2.3</td>
      <td id="T_cb541_row3_col6" class="data row3 col6" >0.0</td>
      <td id="T_cb541_row3_col7" class="data row3 col7" >0.0</td>
      <td id="T_cb541_row3_col8" class="data row3 col8" >0.9</td>
      <td id="T_cb541_row3_col9" class="data row3 col9" >0.2</td>
      <td id="T_cb541_row3_col10" class="data row3 col10" >46.8</td>
    </tr>
    <tr>
      <th id="T_cb541_level0_row4" class="row_heading level0 row4" >May</th>
      <td id="T_cb541_row4_col0" class="data row4 col0" >32.0</td>
      <td id="T_cb541_row4_col1" class="data row4 col1" >0.0</td>
      <td id="T_cb541_row4_col2" class="data row4 col2" >5.3</td>
      <td id="T_cb541_row4_col3" class="data row4 col3" >6.0</td>
      <td id="T_cb541_row4_col4" class="data row4 col4" >9.5</td>
      <td id="T_cb541_row4_col5" class="data row4 col5" >0.0</td>
      <td id="T_cb541_row4_col6" class="data row4 col6" >0.6</td>
      <td id="T_cb541_row4_col7" class="data row4 col7" >31.3</td>
      <td id="T_cb541_row4_col8" class="data row4 col8" >15.4</td>
      <td id="T_cb541_row4_col9" class="data row4 col9" >0.0</td>
      <td id="T_cb541_row4_col10" class="data row4 col10" >100.0</td>
    </tr>
    <tr>
      <th id="T_cb541_level0_row5" class="row_heading level0 row5" >Jun</th>
      <td id="T_cb541_row5_col0" class="data row5 col0" >31.5</td>
      <td id="T_cb541_row5_col1" class="data row5 col1" >0.6</td>
      <td id="T_cb541_row5_col2" class="data row5 col2" >4.6</td>
      <td id="T_cb541_row5_col3" class="data row5 col3" >5.7</td>
      <td id="T_cb541_row5_col4" class="data row5 col4" >6.0</td>
      <td id="T_cb541_row5_col5" class="data row5 col5" >0.7</td>
      <td id="T_cb541_row5_col6" class="data row5 col6" >0.3</td>
      <td id="T_cb541_row5_col7" class="data row5 col7" >0.0</td>
      <td id="T_cb541_row5_col8" class="data row5 col8" >1.6</td>
      <td id="T_cb541_row5_col9" class="data row5 col9" >0.0</td>
      <td id="T_cb541_row5_col10" class="data row5 col10" >51.0</td>
    </tr>
    <tr>
      <th id="T_cb541_level0_row6" class="row_heading level0 row6" >Jul</th>
      <td id="T_cb541_row6_col0" class="data row6 col0" >33.9</td>
      <td id="T_cb541_row6_col1" class="data row6 col1" >0.1</td>
      <td id="T_cb541_row6_col2" class="data row6 col2" >6.9</td>
      <td id="T_cb541_row6_col3" class="data row6 col3" >5.4</td>
      <td id="T_cb541_row6_col4" class="data row6 col4" >5.1</td>
      <td id="T_cb541_row6_col5" class="data row6 col5" >2.4</td>
      <td id="T_cb541_row6_col6" class="data row6 col6" >1.3</td>
      <td id="T_cb541_row6_col7" class="data row6 col7" >11.4</td>
      <td id="T_cb541_row6_col8" class="data row6 col8" >0.7</td>
      <td id="T_cb541_row6_col9" class="data row6 col9" >0.0</td>
      <td id="T_cb541_row6_col10" class="data row6 col10" >67.2</td>
    </tr>
    <tr>
      <th id="T_cb541_level0_row7" class="row_heading level0 row7" >Aug</th>
      <td id="T_cb541_row7_col0" class="data row7 col0" >32.2</td>
      <td id="T_cb541_row7_col1" class="data row7 col1" >0.0</td>
      <td id="T_cb541_row7_col2" class="data row7 col2" >8.3</td>
      <td id="T_cb541_row7_col3" class="data row7 col3" >2.8</td>
      <td id="T_cb541_row7_col4" class="data row7 col4" >2.5</td>
      <td id="T_cb541_row7_col5" class="data row7 col5" >1.2</td>
      <td id="T_cb541_row7_col6" class="data row7 col6" >0.6</td>
      <td id="T_cb541_row7_col7" class="data row7 col7" >0.5</td>
      <td id="T_cb541_row7_col8" class="data row7 col8" >0.5</td>
      <td id="T_cb541_row7_col9" class="data row7 col9" >0.0</td>
      <td id="T_cb541_row7_col10" class="data row7 col10" >48.7</td>
    </tr>
    <tr>
      <th id="T_cb541_level0_row8" class="row_heading level0 row8" >Sep</th>
      <td id="T_cb541_row8_col0" class="data row8 col0" >32.2</td>
      <td id="T_cb541_row8_col1" class="data row8 col1" >0.2</td>
      <td id="T_cb541_row8_col2" class="data row8 col2" >5.9</td>
      <td id="T_cb541_row8_col3" class="data row8 col3" >10.8</td>
      <td id="T_cb541_row8_col4" class="data row8 col4" >4.1</td>
      <td id="T_cb541_row8_col5" class="data row8 col5" >0.2</td>
      <td id="T_cb541_row8_col6" class="data row8 col6" >0.7</td>
      <td id="T_cb541_row8_col7" class="data row8 col7" >2.0</td>
      <td id="T_cb541_row8_col8" class="data row8 col8" >1.5</td>
      <td id="T_cb541_row8_col9" class="data row8 col9" >0.0</td>
      <td id="T_cb541_row8_col10" class="data row8 col10" >57.6</td>
    </tr>
    <tr>
      <th id="T_cb541_level0_row9" class="row_heading level0 row9" >Oct</th>
      <td id="T_cb541_row9_col0" class="data row9 col0" >32.1</td>
      <td id="T_cb541_row9_col1" class="data row9 col1" >0.1</td>
      <td id="T_cb541_row9_col2" class="data row9 col2" >5.8</td>
      <td id="T_cb541_row9_col3" class="data row9 col3" >2.8</td>
      <td id="T_cb541_row9_col4" class="data row9 col4" >40.4</td>
      <td id="T_cb541_row9_col5" class="data row9 col5" >2.4</td>
      <td id="T_cb541_row9_col6" class="data row9 col6" >0.7</td>
      <td id="T_cb541_row9_col7" class="data row9 col7" >3.1</td>
      <td id="T_cb541_row9_col8" class="data row9 col8" >4.7</td>
      <td id="T_cb541_row9_col9" class="data row9 col9" >0.2</td>
      <td id="T_cb541_row9_col10" class="data row9 col10" >92.1</td>
    </tr>
    <tr>
      <th id="T_cb541_level0_row10" class="row_heading level0 row10" >Nov</th>
      <td id="T_cb541_row10_col0" class="data row10 col0" >32.1</td>
      <td id="T_cb541_row10_col1" class="data row10 col1" >0.3</td>
      <td id="T_cb541_row10_col2" class="data row10 col2" >5.2</td>
      <td id="T_cb541_row10_col3" class="data row10 col3" >2.2</td>
      <td id="T_cb541_row10_col4" class="data row10 col4" >2.6</td>
      <td id="T_cb541_row10_col5" class="data row10 col5" >0.1</td>
      <td id="T_cb541_row10_col6" class="data row10 col6" >0.7</td>
      <td id="T_cb541_row10_col7" class="data row10 col7" >3.7</td>
      <td id="T_cb541_row10_col8" class="data row10 col8" >1.8</td>
      <td id="T_cb541_row10_col9" class="data row10 col9" >0.0</td>
      <td id="T_cb541_row10_col10" class="data row10 col10" >48.7</td>
    </tr>
    <tr>
      <th id="T_cb541_level0_row11" class="row_heading level0 row11" >Dec</th>
      <td id="T_cb541_row11_col0" class="data row11 col0" >32.2</td>
      <td id="T_cb541_row11_col1" class="data row11 col1" >0.1</td>
      <td id="T_cb541_row11_col2" class="data row11 col2" >5.9</td>
      <td id="T_cb541_row11_col3" class="data row11 col3" >0.4</td>
      <td id="T_cb541_row11_col4" class="data row11 col4" >1.2</td>
      <td id="T_cb541_row11_col5" class="data row11 col5" >1.5</td>
      <td id="T_cb541_row11_col6" class="data row11 col6" >2.0</td>
      <td id="T_cb541_row11_col7" class="data row11 col7" >40.7</td>
      <td id="T_cb541_row11_col8" class="data row11 col8" >2.1</td>
      <td id="T_cb541_row11_col9" class="data row11 col9" >0.1</td>
      <td id="T_cb541_row11_col10" class="data row11 col10" >86.1</td>
    </tr>
  </tbody>
</table>

