#page-2024 {
    letter-spacing: 2%;
}

#page-2024 p, ul {
    line-height: 150%;
}

#page-2024 .page-section {
    margin-bottom: 100px;
    vertical-align: top;
}

/* for floating left images */

#page-2024 .page-section-left {
    width: 17ch;
    display: inline-block;
    vertical-align: top;
}

#page-2024 .page-section-mid {
    width: 80ch;
    display: inline-block;
    vertical-align: top;
}


/* for centered div matching rest of site */
#page-2024 .outer-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-2024 .centered-div {
    width: calc(var(--global-page-width) - 6ch);
}

#page-2024 .div-50 {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

#page-2024 #tunes-highlight {
    color: #1A3DBD;
    font-size: 4rem;
    font-weight: 1000;
    letter-spacing: -0.1rem;
}


/* MOBILE VIEW */

@media (max-width: 768px) {
  #page-2024 .page-section-left {
    display: block;
  }
  #page-2024 .page-section-mid {
    display: block;
    width: 100%;
  }

  #page-2024 .page-section {
    margin-bottom: 80px;
  }

  #page-2024 .div-50 {
    display: block;
    width: 100%;
  }
}
