@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inconsolata:wght@200..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --primary-dark: #1F191B;
  --page-width: 80ch;
  --global-page-width: 80ch;

}

html {
  background-color: #F8F8F8;
  color: var(--primary-dark);
  scroll-behavior: smooth;
}





body {
    font-family: "Inconsolata", "IBM Plex Mono", monospace, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: var(--page-width);
  padding: 16px;
  padding-top: 5rem;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 24px;
}

.a {
  color: #5bb071;
  /* color: #47aab5; */
  text-decoration: none;
  border-bottom: 1px dotted #5bb071;
  padding: 1px;
}

.a:hover {
  background-color: #ccebd4;
  /* background-color: #b0e5eb; */
  transition: background-color 0.16s ease;
  border-radius: 2px;
}


/* divs & blocks */

.div-3 {
    display: inline-block;
    width: 3%;
    vertical-align: top;
}

.div-5 {
    display: inline-block;
    width: 5%;
    vertical-align: top;
}

.div-10 {
    display: inline-block;
    width: 9%;
    vertical-align: top;
}

.div-20 {
    display: inline-block;
    width: 19%;
    vertical-align: top;
}

.div-22 {
    display: inline-block;
    width: 22%;
    vertical-align: top;
}

.div-25 {
    display: inline-block;
    width: 24%;
    vertical-align: top;
}

.div-30 {
    display: inline-block;
    width: 29%;
    vertical-align: top;
}

.div-33 {
    display: inline-block;
    width: 32.5%;
    vertical-align: top;
}

.div-45 {
    display: inline-block;
    width: 42.5%;
    vertical-align: top;
}

.div-47 {
    display: inline-block;
    width: 47%;
    vertical-align: top;
}

.div-50 {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

.div-60 {
    display: inline-block;
    width: 59%;
    vertical-align: top;
}


.div-66 {
    display: inline-block;
    width: 65%;
    vertical-align: top;
}

.div-70 {
    display: inline-block;
    width: 69%;
    vertical-align: top;
}

.inline-block {
  display: inline-block;
}



.outer-div {
    display: flex;
    justify-content: center;
    align-items: center;
}


.center-align {
  text-align: center;
  vertical-align: top;
}


.centered-div {
    width: calc(var(--global-page-width) - 6ch);
}




/* MOBILE VIEW */

@media (max-width: 768px) {
  .mobile-collapse {
    display: block;
    width: 100%;
  }

  .mobile-hide {
    display: none;
  }
}


/* CURSOR */

html {
    cursor: url("../assets/cursor.svg"), auto;
}

a,
button,
[role="button"],
input[type="button"],
input[type="submit"] {
  cursor: url("../assets/cursor_pointer.svg"), pointer;
}

/* For active/clicked state */
a:active,
button:active,
[role="button"]:active,
input[type="button"]:active,
input[type="submit"]:active {
  cursor: url("../assets/cursor.svg"), pointer;
}