body {
    font-family: "IBM Plex Mono", "Inconsolata",  monospace, sans-serif;
}

h1 { 
    font-family: "Karla", sans-serif;
    font-size: 1.6rem;
}

p {
    font-size: 0.9rem;
    font-weight: 400;
}

#page-index a {
    color: #47aab5;
}

#page-index a:hover {
    color: #47aab5;
    background-color: #b0e5eb;
}