body {
    font-family: "IBM Plex Mono", "Inconsolata",  monospace, sans-serif;
}

h1 { 
    font-family: "Karla", sans-serif;
    font-size: 1.6rem;
}

p {
    font-size: 0.9rem;
    font-weight: 400;
}

/* project card overlay */

.project-card {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  overflow: hidden;
}

.project-card img {
  border-radius: 4px;
  width: 100%;
  height: auto;
  transition: transform 0.1s ease-out;
}

.project-card .overlay, .project-card .overlay-text {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  opacity: 0;
  transition: opacity 0.2s ease;
  border-radius: 4px;
}

.project-card .overlay {
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.project-card .overlay-text {
  color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  pointer-events: none;
  padding: 8px;
}

.project-card .overlay-text-p {
  font-size: 0.84rem;
}

.project-card:hover .overlay, .project-card:hover .overlay-text {
  opacity: 1;
}

.project-card:hover {
  animation: zoomIn 0.1s ease-out forwards;
}

.tag-project {
    border-radius: 24px;
    text-transform: uppercase;
    padding: 4px 12px 4px 12px;
    font-size: 0.7rem;
    display: block;
    color: white;
}

.tag-data  {
    background-color: #79B4C9;
}

.tag-misc  {
    background-color: #C97979;
}



/* page animations */
#home-about-section {
  opacity: 0;
  animation: floatIn 0.3s ease-out forwards;
}

#home-playground-section {
  opacity: 0;
  animation: floatIn 0.3s ease-out 0.15s forwards;
}
