---
import PageLayout from '../layouts/PageLayout.astro';

const currStatus = {
  location: "chicago",
  music: "真っ白 - 藤井風",
};
---

<PageLayout title="about">
    <div>
        <h1 class="pageTitle">about</h1>
        <h4>current status</h4>
        <p>⚲ {currStatus.location}</p>
        <p>♫ {currStatus.music}</p>
    </div>
</PageLayout>