---
import PageLayout from '../layouts/PageLayout.astro';
import Spacer from '../components/Spacer.astro';

import '../styles/index.css';
---

<PageLayout title="grac" includeNavBar={false}>
	<div>
		<h1 class="pageTitle">about</h1>
		<div class="div-60 mobile-collapse">
			<p>
				Hi, nice to meet you! I’m Grace (aka grac), a creative in my 20’s based in Brooklyn, NY📍. I’m currently on garden leave (adult gap year) at IMC, where I traded equity options.
				<br/><br/>
				For fun, I like playing cards, exploring local coffee shops, reading books, and trying new hobbies (most recently learning Japanese!) (ง•_•)ง 
				<br/><br/>
				Feel free to say hi! ⇣<br/>
				github instagram spotify linkedin email
			</p>
		</div> 
		<div class="div-3 mobile-collapse" />
		<div class="div-30 mobile-collapse">
			<div><em>insert img here</em></div>
		</div> 
	</div>

	<Spacer verticalSpace={80}/>
	<div>
		<h1 class="pageTitle">playground</h1>
		<a href="/projects/2024">2024</a>
	</div>
</PageLayout>
