---
import { Image } from 'astro:assets';
import PageLayout from '../layouts/PageLayout.astro';
import Spacer from '../components/Spacer.astro';
import CopyEmail from '../components/index/CopyEmail.astro';

import '../styles/index.css';
import '../styles/animations.css';

import pic_grac from "../assets/index/grac.png"
import pic_2024 from "../assets/index/2024.svg"
import pic_shelf from "../assets/index/shelf.svg"
---

<PageLayout title="grac ⋆⭒˚.⋆" includeNavBar={false}>
<div id="page-index">
	<div class="mobile-hide">
		<Spacer verticalSpace={40}/>
	</div>
	<div id="home-about-section">
		<h1 class="pageTitle">about ⋆⭒˚.⋆</h1>
		<div class="div-60 mobile-collapse">
			<p>
				Hi, nice to meet you! I’m Grace (aka grac), a creative in my 20’s based in Brooklyn, NY📍. I’m currently on garden leave (adult gap year) at IMC, where I traded equity options.
				<br/><br/>
				For fun, I like playing cards, exploring local coffee shops, and trying new hobbies (most recently learning Japanese!) <span style="font-family: Arial, sans-serif;">(ง •̀_•́)ง</span>
				<br/><br/><br/>
				<strong>Feel free to say hi! ⇣</strong><br/>
				<a class="a" href="https://github.com/gracejiang" target="_blank" rel="noopener noreferrer">github</a> 
				<a class="a" href="https://open.spotify.com/user/gjiang00?si=c7a4981bc2ab4798" target="_blank" rel="noopener noreferrer">spotify</a> 
				<a class="a" href="https://www.instagram.com/gracjj/" target="_blank" rel="noopener noreferrer">instagram</a>
				<a class="a" href="https://www.linkedin.com/in/gracj/" target="_blank" rel="noopener noreferrer">linkedin</a> 
				<CopyEmail />
			</p>
		</div> 
		<div class="div-3 mobile-collapse">
			<Spacer verticalSpace={50}/>
		</div>
		<div class="div-30 mobile-collapse" style="text-align: center;">
			<Image src={pic_grac} alt="pic of me" style="width: 100%; height: auto; max-width: 300px; border-radius: 4px;" />
		</div> 
	</div>

	<Spacer verticalSpace={70}/>
	<div id="home-playground-section">
		<h1 class="pageTitle">playground</h1>
		
		<div class="div-33 mobile-collapse">
			<div class="project-card">
				<a href="/projects/2024">
				<Image src={pic_2024} alt="my 2024 in numbers pic" />
				<div class="overlay"></div>
				<div class="overlay-text">
					<p class="overlay-text-p">my 2024 in numbers ⇢</p>
					<Spacer verticalSpace={8}/>
					<p class="tag-project tag-data inline-block">data</p>
				</div>
				</a>
			</div>
		</div>

		<div class="inline-block"><Spacer horizontalSpace={8}/></div>

		<div class="div-33 mobile-collapse">
			<div class="project-card">
				<a href="/shelf">
				<Image src={pic_shelf} alt="shelf pic" />
				<div class="overlay"></div>
				<div class="overlay-text">
					<p class="overlay-text-p">bookshelf ⇢</p>
					<Spacer verticalSpace={8}/>
					<p class="tag-project tag-misc inline-block">misc</p>
				</div>
				</a>
			</div>
		</div>
		
	</div>
	<Spacer verticalSpace={80}/>
	<div class="mobile-hide">
		<Spacer verticalSpace={80}/>
	</div>
</div>
</PageLayout>
