---
import PageLayout from '../layouts/PageLayout.astro';
import Spacer from '../../components/Spacer.astro';

---

<PageLayout title="grac">
	<h1 class="pageTitle">projects</h1>
	<a href="/projects/2024">2024</a>
</PageLayout>
