---
---

<style>
  .navbar-link {
    color: #969696;
  }

  .navbar-link:hover {
    color: #606060;
    background-color: none;
  }
</style>


<a class="navbar-link" href="/">home</a>
<!--<a href="/about">about</a>-->